*.jpg binary
*.png binary
*.sln text eol=crlf
*.vcproj text eol=crlf
*.exe binary
*.lda binary
*.bin binary
*.imd binary
*.rim binary
*.tap binary
*.dsk binary
*.vhd binary
*.crd binary
*.dck binary
sim_rev.h export-subst

